*{
  background-color: whitesmoke;
}

nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

#logo_img{
  height: 10vh;
  width: 4vw;
  margin-left: 2vw; 
}

#ranking_box{
  margin-top: 5vh;
  margin-left: 2vw;
}